<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h5>Наиболее полная база данных технических характеристик технически сложных товаров в формате JSON для загрузки через API Ozon</h5>
Для получения данных выберите нужный вам SKU
<br><br>
{% for category in categories %}

    <a href="{% url 'product' category.id %}">
        {{category.type_name}}
    </a>
<br>

{% endfor %}

</body>
</html>